# Preprocessed Citibike Data: Exploratory Data Analysis

## Import libraries

In [1]:
import numpy as np
import pandas as pd
import datetime as dt
from pandas.api.types import CategoricalDtype
import seaborn as sns
import matplotlib.pyplot as plt
import plotly.graph_objects as go

## Import and load data

Import preprocessed data:

In [2]:
cb_raw = pd.read_csv('../../data/02_processed/citibike_final.csv', parse_dates=['starttime', 'stoptime'])

Make a copy:

In [210]:
cb = cb_raw.copy()

## Inspect data frame

Get dimensions of data frame and datatypes of each feature:

In [4]:
cb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015035 entries, 0 to 4015034
Data columns (total 15 columns):
bikeid                   int64
birthyear                int64
endstationid             int64
endstationlatitude       float64
endstationlongitude      float64
endstationname           object
gender                   int64
startstationid           int64
startstationlatitude     float64
startstationlongitude    float64
startstationname         object
starttime                datetime64[ns]
stoptime                 datetime64[ns]
tripduration             int64
usertype                 object
dtypes: datetime64[ns](2), float64(4), int64(6), object(3)
memory usage: 459.5+ MB

Randomly sample five observations:

In [5]:
cb.sample(n=5)

,bikeid,birthyear,endstationid,endstationlatitude,endstationlongitude,endstationname,gender,startstationid,startstationlatitude,startstationlongitude,startstationname,starttime,stoptime,tripduration,usertype
526424,28882,1957,362,40.751726,-73.987535,Broadway & W 37 St,1,379,40.749156,-73.991600,W 31 St & 7 Ave,2019-08-16 10:39:40.269,2019-08-16 10:45:10.317,330,Subscriber
1538596,15970,1993,3233,40.757246,-73.978059,E 48 St & 5 Ave,1,2021,40.759291,-73.988597,W 45 St & 8 Ave,2018-11-04 12:56:37.792,2018-11-04 13:07:54.136,676,Subscriber
2580492,32006,1969,3459,40.757632,-73.969306,E 53 St & 3 Ave,1,3135,40.771129,-73.957723,E 75 St & 3 Ave,2018-02-13 12:12:29.376,2018-02-13 12:21:57.188,567,Subscriber
3511545,17499,1984,167,40.748901,-73.976049,E 39 St & 3 Ave,1,538,40.756660,-73.976684,E 48 St & Madison Ave,2015-03-08 18:00:00.000,2015-03-08 18:10:00.000,610,Subscriber
477377,15224,1977,489,40.750664,-74.001768,10 Ave & W 28 St,1,538,40.756660,-73.976684,E 48 St & Madison Ave,2015-04-29 16:49:19.000,2015-04-29 17:02:57.000,817,Subscriber

Check for missing values – there should be none:

In [6]:
cb.isnull().sum()

bikeid                   0
birthyear                0
endstationid             0
endstationlatitude       0
endstationlongitude      0
endstationname           0
gender                   0
startstationid           0
startstationlatitude     0
startstationlongitude    0
startstationname         0
starttime                0
stoptime                 0
tripduration             0
usertype                 0
dtype: int64

## Data preprocessing

Show unique values per feature:

In [7]:
pd.DataFrame.from_records([(col, cb[col].nunique()) for col in cb.columns],
                          columns=['Feature', 'Number of Unique Values']).sort_values(by=['Number of Unique Values'])

                  Feature  Number of Unique Values
6                  gender                        3
14               usertype                        3
1               birthyear                       85
7          startstationid                     1050
2            endstationid                     1066
10       startstationname                     1080
5          endstationname                     1098
9   startstationlongitude                     1107
4     endstationlongitude                     1125
8    startstationlatitude                     1183
3      endstationlatitude                     1200
13           tripduration                    15875
0                  bikeid                    16899
11              starttime                  3931760
12               stoptime                  3932355

### Define features

Define numerical features:

In [214]:
map_feat = ['endstationlatitude','endstationlongitude','startstationlatitude','startstationlongitude']
datetime_feat = ['birthyear','starttime', 'stoptime']
cont_feat = map_feat + datetime_feat + ['tripduration']

Define categorical features:

In [215]:
num_nom_feat = ['bikeid','endstationid','startstationid','gender']
cat_nom_feat = ['endstationname','startstationname','usertype']
nom_feat = num_nom_feat + cat_nom_feat

### Perform datatype conversions

Convert to datetime format:

In [211]:
cb['birthyear'] = pd.to_datetime(cb.birthyear, format='%Y')

Convert features to `float16` or `int16` to reduce memory:

In [212]:
float_to_int = ['startstationid','endstationid','tripduration','bikeid','gender']

cb[float_to_int] = cb[float_to_int].apply(lambda x: x.astype('int16'))

Convert untreated nominal features to categorical datatype to reduce memory:

In [216]:
cb[cat_nom_feat] = cb[cat_nom_feat].apply(lambda x: x.astype('category'))

Check for successful datatype conversion and reduction in memory:

In [14]:
cb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015035 entries, 0 to 4015034
Data columns (total 15 columns):
bikeid                   int16
birthyear                datetime64[ns]
endstationid             int16
endstationlatitude       float64
endstationlongitude      float64
endstationname           category
gender                   int16
startstationid           int16
startstationlatitude     float64
startstationlongitude    float64
startstationname         category
starttime                datetime64[ns]
stoptime                 datetime64[ns]
tripduration             int16
usertype                 category
dtypes: category(3), datetime64[ns](3), float64(4), int16(5)
memory usage: 272.0 MB

## Feature engineering

### Imputation

In [15]:
cb.groupby(['startstationid', 'startstationname', 'startstationlatitude', 'startstationlongitude']).size()

startstationid  startstationname               startstationlatitude  startstationlongitude
72              W 52 St & 11 Ave               40.767272             -73.993929               10161
79              Franklin St & W Broadway       40.719116             -74.006667                7828
82              St James Pl & Pearl St         40.711174             -74.000165                3249
83              Atlantic Ave & Fort Greene Pl  40.683826             -73.976323                4079
116             W 17 St & 8 Ave                40.741776             -74.001497               12170
                                                                                              ...
3910            Greene Ave & Grandview Ave     40.709697             -73.907856                   1
3911            Wyckoff St & Nevins St         40.683426             -73.984275                   8
3916            Pearl St & Peck Slip           40.708485             -74.002751                   7
3917            Willoughby St & Ashland Pl     40.691780             -73.978770                   3
3918            Avenue D & E 8 St              40.723870             -73.975767                   2
Length: 1227, dtype: int64

Recompute station coordinates to correct inconsistencies:

In [217]:
end_coords = ['endstationid','endstationname','endstationlatitude','endstationlongitude']
start_coords = ['startstationid','startstationname','startstationlatitude','startstationlongitude']

In [218]:
stn3240_lat = cb[end_coords].loc[(cb['endstationid'] == 3240) & (cb['endstationlatitude'] != 40.750)].iloc[0][2]
stn3240_lon = cb[end_coords].loc[(cb['endstationid'] == 3240) & (cb['endstationlatitude'] != 74.0)].iloc[0][3]

In [219]:
cb.loc[cb['endstationlatitude'] == 40.75000, 'endstationlatitude'] = stn3240_lat
cb.loc[cb['endstationlongitude'] == -74.0, 'endstationlongitude'] = stn3240_lon
cb.loc[cb['startstationlongitude']== -74.0, 'startstationlongitude'] = stn3240_lon
cb.loc[cb['startstationlatitude'] == 40.75000, 'startstationlatitude'] = stn3240_lat

### Distance features

Define helper function to calculate distance between coordinates:

In [20]:
from pyproj import Geod

def calc_vincenty_dist(lat1, lon1, lat2, lon2): 
    az12, az21, dist = Geod(ellps='WGS84').inv(lon1, lat1, lon2, lat2)
    return dist

In [21]:
# Haversine & inclination 29 degrees to True north
# Credits: https://www.movable-type.co.uk/scripts/latlong.html,
# https://gist.github.com/jkAtGitHub/8ae7da4d5dacb9969bff43500b5efbc0#file-manhattan_dist-py
def calc_haversine_dist(lat1, lon1, lat2, lon2):
    lat1, lat2, lon1, lon2 = np.radians(lat1), np.radians(lat2), np.radians(lon1), np.radians(lon2)
    dlat, dlon = lat2 - lat1, lon2 - lon1
    r = 3963 # Earth's radius in miles
    
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arctan2(np.sqrt(a), np.sqrt(1-a)) 
    
    total_dist = r * c
    return total_dist

def calc_manh_disth(lat1, lon1, lat2, lon2):
    start = np.stack([lat1, lon1], axis=1)
    end = np.stack([lat2, lon2], axis=1)
    
    theta1, theta2 = np.radians(-28.904), np.radians(28.904)
    rmat1 = np.array([[np.cos(theta1), np.sin(theta1)], 
                      [-np.sin(theta1), np.cos(theta1)]])
    rmat2 = np.array([[np.cos(theta2), np.sin(theta2)], 
                      [-np.sin(theta2), np.cos(theta2)]])
    
    start_rot = rmat1 @ start.T
    end_rot = rmat1 @ end.T
    
    hinge = np.stack((start_rot[0,:], end_rot[1,:]))
    hinge_coords = rmat2 @ hinge
    
    manh_dist = calc_haversine_dist(start.T[0], start.T[1], hinge_coords[0], hinge_coords[1]) + calc_haversine_dist(hinge_coords[0], hinge_coords[1], end.T[0], end.T[1])
    return manh_dist

# Unused functions -----------------------------------------------
# # Cartesian Coordinate system, output in latlong dist
# def calc_manh_distc(lat, lon):
#     return sum(abs(lat_i-lat_j) for lat_i, lat_j in zip(lat, lon))

Create new features, `vicentydistance` and `manhdistance` (both in miles):

In [241]:
cb['vicentydistance'] = calc_vincenty_dist(cb.startstationlatitude.tolist(), 
                                        cb.startstationlongitude.tolist(),
                                        cb.endstationlatitude.tolist(),
                                        cb.endstationlongitude.tolist())
cb['vicentydistance'] = cb['vicentydistance'].apply(lambda x: x*0.000621371) # Convert from meters to miles

In [242]:
cb['manhdistance'] = calc_manh_disth(cb.startstationlatitude,
                                     cb.startstationlongitude,
                                     cb.endstationlatitude,
                                     cb.endstationlongitude)

### Datetime features

Create new features, `startmonth` and `endmonth`:

In [220]:
cb['startmonth'] = cb['starttime'].dt.month.astype('int16')
cb['stopmonth'] = cb['stoptime'].dt.month.astype('int16')

Create new features for days of week, `startdayname` (numerical code: `startday`), `enddayname` (numerical code: `stopday`), `startdaytype`, and `startendtype`:

In [221]:
cb['startdayname'] = cb['starttime'].dt.day_name().astype('category')
cb['startday'] = cb['starttime'].dt.dayofweek.astype('int16')
cb['stopdayname'] = cb['stoptime'].dt.day_name().astype('category')
cb['stopday'] = cb['stoptime'].dt.dayofweek.astype('int16')

In [222]:
start_weekday_conds = [(cb.startday >= 0) & (cb.startday < 5), (cb.startday >= 5) & (cb.startday < 7)]
end_weekday_conds = [(cb.startday >= 0) & (cb.startday < 5), (cb.startday >= 5) & (cb.startday < 7)]
day_type_labels = ['Weekday','Weekend']

In [223]:
cb['startdaytype'] = np.select(start_weekday_conds, day_type_labels)
cb['startdaytype'] = cb['startdaytype'].astype('category')

In [224]:
cb['enddaytype'] = np.select(end_weekday_conds, day_type_labels)
cb['enddaytype'] = cb['enddaytype'].astype('category')

Create new features, `starthour` and `endhour`:

In [225]:
cb['starthour'] = cb['starttime'].dt.hour.astype('int16')
cb['endhour'] = cb['stoptime'].dt.hour.astype('int16')

Create new feature, `rushhour` (as defined by MTA):

In [226]:
start_rushhour_conds = [(cb.starthour >= 0) & (cb.starthour < 6), 
                       (cb.starthour >= 6) & (cb.starthour < 10),
                       (cb.starthour >= 10) & (cb.starthour < 15),
                       (cb.starthour >= 15) & (cb.starthour < 21),
                       (cb.starthour >= 21) & (cb.starthour <= 23)]
end_rushhour_conds = [(cb.endhour >= 0) & (cb.endhour < 6), 
                       (cb.endhour >= 6) & (cb.endhour < 10),
                       (cb.endhour >= 10) & (cb.endhour < 15),
                       (cb.endhour >= 15) & (cb.endhour < 21),
                       (cb.endhour >= 21) & (cb.endhour <= 23)]
rushhour_labels = ['Morning Off-Peak', 'Morning Rush', 'Afternoon Off-Peak', 'Afternoon Rush','Evening Off-Peak']

In [227]:
cb['startrushhour'] = np.select(start_rushhour_conds, rushhour_labels)
cb['startrushhour'] = cb['startrushhour'].astype('category')

In [228]:
cb['endrushhour'] = np.select(start_rushhour_conds, rushhour_labels)
cb['endrushhour'] = cb['startrushhour'].astype('category')

Create new features, `starttimeofday` and `endtimeofday`:

In [229]:
start_timeofday_conds = [(cb.starthour >= 6) & (cb.starthour < 12), 
                         (cb.starthour >= 12) & (cb.starthour < 17),
                         (cb.starthour >= 17) & (cb.starthour < 20),
                         ((cb.starthour >= 20) & (cb.starthour < 23)) | (cb.starthour == 0)]
end_timeofday_conds = [(cb.endhour >= 6) & (cb.endhour < 12), 
                       (cb.endhour >= 12) & (cb.endhour < 17),
                       (cb.endhour >= 17) & (cb.endhour < 20),
                       ((cb.endhour >= 20) & (cb.endhour < 23)) | (cb.endhour == 0)]
timeofday_labels = ['Morning (6AM-11:59PM)', 'Afternoon (12PM-4:59PM)', 'Evening (5-7:59PM)', 'Night (8PM-5:59AM)']

In [230]:
cb['starttimeofday'] = np.select(start_timeofday_conds, timeofday_labels)
cb['starttimeofday'] = cb['starttimeofday'].astype('category')

In [231]:
cb['endtimeofday'] = np.select(end_timeofday_conds, timeofday_labels)
cb['endtimeofday'] = cb['endtimeofday'].astype('category')

### Demographic features

Create new features, `age_at_ride` and `age_group`:

In [232]:
cb['age_at_ride'] = cb['starttime'].dt.year.astype('int16') - cb['birthyear'].dt.year.astype('int16')
cb['age_at_ride'] = cb['age_at_ride'].astype('int16')

In [233]:
cb['age_at_ride'].describe().astype('int16')

count    17339
mean        44
std         22
min         16
25%         30
50%         37
75%         50
max        120
Name: age_at_ride, dtype: int16

In [234]:
age_groups_conds = [(cb.age_at_ride >= 16) & (cb.age_at_ride < 20), 
                    (cb.age_at_ride >= 20) & (cb.age_at_ride < 30),
                    (cb.age_at_ride >= 30) & (cb.age_at_ride < 40),
                    (cb.age_at_ride >= 40) & (cb.age_at_ride < 50),
                    (cb.age_at_ride >= 50) & (cb.age_at_ride < 60),
                    (cb.age_at_ride >= 60) & (cb.age_at_ride <= 120)]
age_groups_labels = ['Teens (16-19)', '20s', '30s', '40s', '50s', '60s+']

In [235]:
cb['age_group'] = np.select(age_groups_conds, age_groups_labels)
cb['age_group'] = cb['age_group'].astype('category')

### Geographic features

Create new features, `startboro`, `endboro`, `startneighborhood`, and `endneighborhood`::

In [33]:
from geopy.geocoders import Nominatim
from geopy.extra.rate_limiter import RateLimiter
from tqdm._tqdm_notebook import tqdm_notebook

In [236]:
cb['startcoords'] = list(zip(cb.startstationlatitude, cb.startstationlongitude))
cb['endcoords'] = list(zip(cb.endstationlatitude, cb.endstationlongitude))

In [237]:
print(cb['startcoords'].nunique())
print(cb['endcoords'].nunique())

1182
1199

Create data frame `unique_coords` consisting of unique coordinates for reverse geocoding processing:

In [238]:
end_coords = end_coords + ['endcoords']
start_coords = start_coords + ['startcoords']
coords_all = end_coords + start_coords

In [37]:
unique_startcoords = pd.DataFrame(cb[start_coords].groupby(['startstationid', 'startcoords']).size()).reset_index()
unique_startcoords.columns = ['startstationid','startcoords','todrop']
unique_startcoords.drop(columns=['todrop'], inplace=True)

In [38]:
unique_endcoords = pd.DataFrame(cb[end_coords].groupby(['endstationid', 'endcoords']).size()).reset_index()
unique_endcoords.columns = ['endstationid','endcoords','todrop']
unique_endcoords.drop(columns=['todrop'], inplace=True)

In [415]:
unique_coords = pd.concat([unique_startcoords, unique_endcoords], axis=1)

Reverse geocode station coordinates for borough and neighborhood:

In [40]:
geolocator = Nominatim(user_agent='myGeocoder', timeout=10)
rgeoloc = RateLimiter(geolocator.reverse, min_delay_seconds=5)

In [41]:
tqdm_notebook().pandas(desc='Progress Bar')

HBox(children=(IntProgress(value=1, bar_style='info', max=1), HTML(value='')))

/opt/anaconda3/lib/python3.7/site-packages/tqdm/std.py:648: FutureWarning:

The Panel class is removed from pandas. Accessing it from the top-level namespace will also be removed in the next version

In [42]:
unique_coords['endaddress'] = unique_coords['endcoords'].progress_apply(rgeoloc)

HBox(children=(IntProgress(value=0, description='Progress Bar', max=1199, style=ProgressStyle(description_widt…

In [43]:
unique_coords['startaddress'] = unique_coords['startcoords'].dropna().progress_apply(rgeoloc)

HBox(children=(IntProgress(value=0, description='Progress Bar', max=1182, style=ProgressStyle(description_widt…

Save as temporary .csv file to avoid running reverse geocoding again:

In [56]:
unique_coords.to_csv('../../data/02_processed/unique_coords.csv')

Extract neighborhood and borough from `startaddress` and `endaddress`:

In [455]:
# unique_coords = pd.read_csv('../../data/02_processed/unique_coords.csv')
# unique_coords['startaddress'] = unique_coords['startaddress'].astype(str)
# unique_coords = unique_coords.drop(columns=['Unnamed: 0'])

In [416]:
m_hoods = ["Lower West Side","Financial District","Lower East Side","Tribeca",
           "East Village","Alphabet City","Stuy Town","Peter Cooper Village",
           "Hudson Square","SoHo","Nolita","Lower Manhattan","Little Italy", "NoHo",
           "Greenwich Village","West Village","Kips Bay","Murray Hill","Gramercy",
           "Hell's Kitchen","East Village","Upper East Side","Upper West Side",
           "NoMad","Chinatown","Korea Town","Midtown","Midtown West","Midtown East",
           "Midtown South","Lincoln Square","Theater District","Chelsea","Harlem",
           "East Harlem","Garment District","Meatpacking District","Battery Park City",
           "Lenox Hill","Tudor City","Five Points","Turtle Bay","Yorkville","Lenox Hill",
           "Carnegie Hill","Manhattanville","Manhattan Valley","Ansonia","Columbus Circle",
          "Two Bridges","New York County","Broadway"]

bk_hoods = ["Bay Ridge", "Sunset Park", "Bensonhurst", "Sheepshead Bay",
            "Borough Park", "Midwood", "Flatbush", "East Flatbush",
            "Park Slope", "East New York", "Bedford-Stuyvesant", 
            "Williamsburg", "Greenpoint", "Red Hook", "Downtown Brooklyn",
            "DUMBO", "Brownsville", "Prospect Park", "Fort Hamilton", 
            "Cypress Hills", "Bushwick", "Canarsie", "Brooklyn Heights",
            "Cobble Hill","Canarsie","Bergen Beach","Flatlands","Bronwsville",
            "Crown Heights","Brooklyn Navy Yard","Boerum Hill","Caroll Gardens",
            "Gowanus","Sunset Park","Coney Island","Gravesend","Fort Hamilton",
            "Prospect Heights","Fort Greene","Broadway Junction","Clinton Hill",
            "Ocean Hill","Kings County","Nolan Park","Columbia Street Waterfront District"]

q_hoods = ["Astoria", "Long Island City", "Steinway", "Ridgewood", "Woodside", 
           "Elmhurst", "Jackson Heights", "Corona", "Murray Hill", "Flushing", 
           "Kew Gardens", "Fresh Meadows", "Jamaica", "Bayside", "Whitestone",
           "Sunnyside","Rego Park","Bayside","Maspeth","Queens County"]

nj_hoods = ["Downtown Jersey City","Communipaw","Newark","Bergen","Hoboken",
            "Newport","Grand Street","Hudson Street","Indian Square","Colgate Center"]

all_hoods = m_hoods + bk_hoods + q_hoods + nj_hoods

boros_plus = ['Manhattan','Brooklyn','Bronx','Queens','Staten Island','Jersey City']

In [440]:
unique_coords['startaddress'] = unique_coords['startaddress'].apply(lambda x: x.split(',')[2:6])
unique_coords['startaddress'] = unique_coords['startaddress'].apply(lambda x: ','.join(map(str, x)))

In [441]:
unique_coords['endaddress'] = unique_coords['endaddress'].apply(lambda x: x.split(',')[2:6])
unique_coords['endaddress'] = unique_coords['endaddress'].apply(lambda x: ','.join(map(str, x)))

In [443]:
unique_coords['startneighborhoods'] = unique_coords.startaddress.str.extract('({0})'.format('|'.join(all_hoods)), flags=re.IGNORECASE)

In [445]:
unique_coords['endneighborhoods'] = unique_coords.endaddress.str.extract('({0})'.format('|'.join(all_hoods)), flags=re.IGNORECASE)

In [447]:
unique_coords['startboro'] = unique_coords.startaddress.str.extract('({0})'.format('|'.join(boros_plus)), flags=re.IGNORECASE)

In [448]:
unique_coords['endboro'] = unique_coords.endaddress.str.extract('({0})'.format('|'.join(boros_plus)), flags=re.IGNORECASE)

Drop observations with missing start- or end- station information:

In [457]:
# unique_coords.loc[unique_coords['startstationid'].isnull()]
unique_coords.drop(unique_coords.index[1182:1199], inplace=True)
unique_coords.drop(unique_coords.index[593], inplace=True)
unique_coords.drop(unique_coords.index[582], inplace=True)

In [464]:
unique_coords.loc[unique_coords['startneighborhoods'] == 'Kings County', 'startboro'] = 'Brooklyn'
unique_coords.loc[unique_coords['endneighborhoods'] == 'Kings County', 'endboro'] = 'Brooklyn'

In [470]:
unique_coords.isnull().sum()

startstationid        0
startcoords           0
endstationid          0
endcoords             0
endaddress            0
startaddress          0
startneighborhoods    0
endneighborhoods      0
startboro             0
endboro               0
dtype: int64

In [471]:
# uniq_coords.to_csv('../../data/02_processed/unique_coords_final.csv')

In [491]:
unique_coords['startstationid'] = unique_coords['startstationid'].astype(int)

Merge `unique_coords` into `cb`:

In [584]:
cb_master = cb.copy()

In [585]:
cb_master['startneighborhood'] = cb_master['startstationid']
cb_master['endneighborhood'] = cb_master['endstationid']

In [586]:
sstnid_hood_dict = dict(unique_coords[['startstationid','startneighborhoods']].values)
cb_master['startneighborhood'] = cb_master.startneighborhood.map(sstnid_hood_dict)

In [587]:
estnid_hood_dict = dict(unique_coords[['endstationid','endneighborhoods']].values)
cb_master['endneighborhood'] = cb_master.endneighborhood.map(estnid_hood_dict)

In [588]:
cb_master['startboro'] = cb_master['startneighborhood']
cb_master['endboro'] = cb_master['startneighborhood']

In [589]:
shood_boro_dict = dict(unique_coords[['startneighborhoods','startboro']].values)
cb_master['startboro'] = cb_master.startboro.map(shood_boro_dict)

In [590]:
ehood_boro_dict = dict(unique_coords[['endneighborhoods','endboro']].values)
cb_master['endboro'] = cb_master.endboro.map(ehood_boro_dict)

Impute unmapped or incorrect neighborhoods and boroughs:

In [592]:
start_end_only = ['startstationid','startstationname','startneighborhood', 'startboro',
                  'endstationid','endstationname','endneighborhood','endboro']

In [593]:
stn3244 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3244)].iloc[0][2]
stn3898 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3898)].iloc[0][2]
stn3903 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3903)].iloc[0][2]
stn3905 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3905)].iloc[0][2]
stn3911 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3911)].iloc[0][2]
stn3910 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3910)].iloc[0][2]
stn3916 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3916)].iloc[0][2]
stn3918 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3918)].iloc[0][2]
stn3899 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3899)].iloc[0][2]
stn3907 = cb_master[start_end_only].loc[(cb_master['startstationid'] == 3907)].iloc[0][2]

In [594]:
cb_master.loc[cb_master['endstationid'] == 3244, 'endneighborhood'] = stn3244
cb_master.loc[cb_master['endstationid'] == 3898, 'endneighborhood'] = stn3898
cb_master.loc[cb_master['endstationid'] == 3903, 'endneighborhood'] = stn3903
cb_master.loc[cb_master['endstationid'] == 3905, 'endneighborhood'] = stn3905
cb_master.loc[cb_master['endstationid'] == 3911, 'endneighborhood'] = stn3911
cb_master.loc[cb_master['endstationid'] == 3910, 'endneighborhood'] = stn3910
cb_master.loc[cb_master['endstationid'] == 3916, 'endneighborhood'] = stn3916
cb_master.loc[cb_master['endstationid'] == 3918, 'endneighborhood'] = stn3918
cb_master.loc[cb_master['endstationid'] == 3899, 'endneighborhood'] = stn3899
cb_master.loc[cb_master['endstationid'] == 3907, 'endneighborhood'] = stn3907

In [595]:
cb_master.loc[cb_master['endstationid'] == 3257, 'endneighborhood'] = 'Upper West Side'
cb_master.loc[cb_master['startstationid'] == 3257, 'endneighborhood'] = 'Upper West Side'
cb_master.loc[cb_master['endstationid'] == 3908, 'endneighborhood'] = 'Lower West Side'
cb_master.loc[cb_master['endstationid'] == 3896, 'endneighborhood'] = 'Ridgewood'
cb_master.loc[cb_master['endstationid'] == 3900, 'endneighborhood'] = 'Greenpoint'
cb_master.loc[cb_master['endstationid'] == 3897, 'endneighborhood'] = 'Ridgewood'
cb_master.loc[cb_master['endstationid'] == 3917, 'endneighborhood'] = 'Downtown Brooklyn'
cb_master.loc[cb_master['endstationid'] == 3901, 'endneighborhood'] = 'Ridgewood'
cb_master.loc[cb_master['endstationid'] == 3909, 'endneighborhood'] = 'Ridgewood'

In [596]:
stn3285 = cb_master[start_end_only].loc[(cb_master['endstationid'] == 3285)].iloc[0][-2]
stn3257 = cb_master[start_end_only].loc[(cb_master['endstationid'] == 3257)].iloc[0][-2]

In [597]:
cb_master.loc[cb_master['startstationid'] == 3285, 'startneighborhood'] = stn3285
cb_master.loc[cb_master['startstationid'] == 3257, 'startneighborhood'] = stn3257

In [598]:
mhood_to_boro_dict = dict.fromkeys(m_hoods, 'Manhattan')
bkhood_to_boro_dict = dict.fromkeys(bk_hoods, 'Brooklyn')
qhood_to_boro_dict = dict.fromkeys(q_hoods, 'Queens')
njhood_to_boro_dict = dict.fromkeys(nj_hoods, 'Jersey City')

In [629]:
from itertools import chain

start_master_dict = dict(chain(shood_boro_dict.items(), mhood_to_boro_dict.items(), 
                               bkhood_to_boro_dict.items(), qhood_to_boro_dict.items(),
                               njhood_to_boro_dict.items()))

end_master_dict = dict(chain(ehood_boro_dict.items(), mhood_to_boro_dict.items(), 
                             bkhood_to_boro_dict.items(), qhood_to_boro_dict.items(),
                             njhood_to_boro_dict.items()))

In [627]:
cb_master['startboro'] = cb_master.startneighborhood.map(start_master_dict)

In [630]:
cb_master['endboro'] = cb_master.endneighborhood.map(end_master_dict)

In [632]:
cb_master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015035 entries, 0 to 4015034
Data columns (total 39 columns):
bikeid                   int16
birthyear                datetime64[ns]
endstationid             int16
endstationlatitude       float64
endstationlongitude      float64
endstationname           category
gender                   int16
startstationid           int16
startstationlatitude     float64
startstationlongitude    float64
startstationname         category
starttime                datetime64[ns]
stoptime                 datetime64[ns]
tripduration             int16
usertype                 category
startmonth               int16
stopmonth                int16
startdayname             category
startday                 int16
stopdayname              category
stopday                  int16
startdaytype             category
enddaytype               category
starthour                int16
endhour                  int16
startrushhour            category
endrushhour              category
starttimeofday           category
endtimeofday             category
age_at_ride              int16
age_group                category
startcoords              object
endcoords                object
vicentydistance          float64
manhdistance             float64
endneighborhood          object
startneighborhood        object
startboro                object
endboro                  object
dtypes: category(12), datetime64[ns](3), float64(6), int16(12), object(6)
memory usage: 605.1+ MB

Perform datatype conversion to reduce memory:

In [634]:
cat_nom_feat = cat_nom_feat + ['startneighborhood','startboro','endneighborhood','endboro']
cb_master[cat_nom_feat] = cb_master[cat_nom_feat].apply(lambda x: x.astype('category'))

### Final check

Inspect memory:

In [635]:
cb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4015035 entries, 0 to 4015034
Data columns (total 36 columns):
bikeid                   int16
birthyear                datetime64[ns]
endstationid             int16
endstationlatitude       float64
endstationlongitude      float64
endstationname           category
gender                   int16
startstationid           int16
startstationlatitude     float64
startstationlongitude    float64
startstationname         category
starttime                datetime64[ns]
stoptime                 datetime64[ns]
tripduration             int16
usertype                 category
startmonth               int16
stopmonth                int16
startdayname             category
startday                 int16
stopdayname              category
stopday                  int16
startdaytype             category
enddaytype               category
starthour                int16
endhour                  int16
startrushhour            category
endrushhour              category
starttimeofday           category
endtimeofday             category
age_at_ride              int16
age_group                category
startcoords              object
endcoords                object
vicentydistance          float64
manhdistance             float64
endneighborhood          object
dtypes: category(12), datetime64[ns](3), float64(6), int16(12), object(3)
memory usage: 513.2+ MB

Create csv file of feature engineering citibike dataset:

In [636]:
cb.to_csv('../../data/02_processed/citibike_feature_engineered_final.csv', index=False)

## Aggregate data

## Inspect data

### Demographics: Age, Gender, and User Type

The following graphs depict `Proportion of Rides` by rider demographics:

In [ ]:
rides_by_age = cb.pivot_table('bikeid', index='age_group', aggfunc=len, fill_value=0).div(len(cb.index)).mul(100)
rides_by_age.columns = (['Proportion of Rides'])
rides_by_age.sort_values(ascending=True, by='Proportion of Rides').plot(kind='barh')
plt.title('Proportion of Rides by Age Group')
plt.ylabel('Age Group')
plt.xlabel('Proportion of Rides')
plt.show();

In [ ]:
rides_by_gender = cb.pivot_table('bikeid', index='gender', aggfunc=len, fill_value=0).div(len(cb.index)).mul(100)
rides_by_gender.columns = (['Proportion of Rides'])
rides_by_gender.index = (['Unknown','Male','Female'])
rides_by_gender.sort_values(ascending=True, by='Proportion of Rides').plot(kind='barh')
plt.title('Proportion of Rides by Gender')
plt.ylabel('Gender')
plt.xlabel('Proportion of Rides')
plt.show();

In [ ]:
rides_by_usertype = cb.pivot_table('bikeid', index='usertype', aggfunc=len, fill_value=0).div(len(cb.index)).mul(100)
rides_by_usertype.columns = (['Proportion of Rides'])
rides_by_usertype
rides_by_usertype.sort_values(ascending=True, by='Proportion of Rides').plot(kind='barh')
plt.title('Proportion of Rides by User Type')
plt.ylabel('User Type')
plt.xlabel('Proportion of Rides')
plt.show();

In [ ]:
rides_by_gender_age = cb.pivot_table('bikeid', index='gender', columns='age_group', aggfunc=len, fill_value=0).div(len(cb.index)).mul(100)
rides_by_gender_age.index = (['Unknown', 'Male', 'Female'])
rides_by_gender_age.plot(kind='bar')
plt.title('Proportion of Rides by Gender and Age Group')
plt.ylabel('Proportion of Rides')
plt.xlabel('Gender')
plt.show();

The following graphs depict `Trip Distance` and `Trip Duration` by rider demographics:

In [ ]:
manhdist_by_usertype_gender = cb.pivot_table('manhdistance', index='usertype', columns='gender')
manhdist_by_usertype_gender.columns = (['Unknown','Male','Female'])
manhdist_by_usertype_gender.plot(kind='bar')
plt.title('Trip Distance by User Type and Gender')
plt.xlabel('User Type')
plt.ylabel('Manhattan Distance in Miles')
plt.show();

In [ ]:
tripduration_by_usertype_gender = cb.pivot_table('tripduration', index='usertype', columns='gender')
tripduration_by_usertype_gender.columns = (['Unknown','Male','Female'])
tripduration_by_usertype_gender.plot(kind='bar')
plt.title('Trip Duration by User Type and Gender')
plt.xlabel('User Type')
plt.ylabel('Trip Duration')
plt.show();

### Geography: Neighborhoods, Boroughs, and Station Locations

In [ ]:
# cb.pivot_table('manhdistance', index='starthou', columns='startneighborhood')
pd.DataFrame(cb.groupby(['startneighborhood'])['starthour'].value_counts()
# tripduration_by_usertype_gender.columns = (['Unknown','Male','Female'])
# tripduration_by_usertype_gender.plot(kind='bar')
# plt.title('Trip Duration by User Type and Gender')
# plt.xlabel('User Type')
# plt.ylabel('Trip Duration')
# plt.show();

### Rides: Number of Rides, Trip Distance, Trip Duration

Inspect number of rides per day:

In [ ]:
x=cb.startday.value_counts().index
y=cb.startday.value_counts()/(343) #divide by number of weeks to get mean rides per day
plt.scatter(x, y, alpha=0.5)
plt.xlabel('Day of Week')
plt.ylabel('Number of Rides')
plt.title('Number of Rides by Day')
plt.show()

Inspect number of rides per hour:

In [ ]:
x=cb.starthour.value_counts().index
y=cb.starthour.value_counts()
plt.scatter(x, y, alpha=0.5)
plt.xlabel('Hour of Day')
plt.ylabel('Number of Rides')
plt.title('Number of Rides by Hour')
plt.show()

Inspect number of rides per month:

In [ ]:
index=[1,7,8,9,10,11,12]
#y[index] = y[index]*(6/7) #to fix over sampling from Jan 2020 and July-December 2013
y = y.round().astype('int32')

In [ ]:
#ad-hocly adjusted for the oversampling of Jan, July-December months 
plt.scatter(x, y, alpha=0.5)
plt.xlabel('Month of Year')
plt.ylabel('Number of Rides')
plt.title('Number of Rides by Month')
plt.show()

Inspect `vicentydistance` by month:

In [ ]:
#adjusted for ease of interpretation
x=cb['vicentydistance'].sort_values(ascending=False).index
y=cb['vicentydistance'].sort_values(ascending=False)

fig, ax = plt.subplots(figsize=(10,8))
plt.suptitle('')
cb.groupby('startmonth').boxplot(column=['vicentydistance'], by='startmonth', ax=ax)
plt.show()

## Appendix

### STUFF TO FIX

In [ ]:
#need to fix ride discrepencies here before proceeding with using day of week EDA seriously
len(cb.startday)-(cb.startday==cb.stopday).sum()

In [ ]:
cb.startday.value_counts()

### Identifying unique trips

Create new feature, `uniquetripid`:

In [ ]:
cb_filtered = cb[cb['birthyear'].dt.year.astype('int16') > 1920]
cb_filtered['birthyear'] = cb_filtered['birthyear'].dt.year.astype('int16')

In [ ]:
cb_filtered.groupby(['birthyear','gender','usertype','startstationid','starttime','startneighborhood']).size()

In [ ]:
cb_filtered.groupby(['startneighborhood','startstationid','starttime','usertype','birthyear','gender']).size()